*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Segoe UI', sans-serif;
  background: #0f172a;
  color: #e5e7eb;
}

.hero {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.hero-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.foto-perfil {
  width: 180px;
  height: 180px;
  object-fit: cover;
  border-radius: 50%;
  border: 4px solid #38bdf8;
  margin-bottom: 20px;
}
.hero h1 {
  font-size: 3.5rem;
}

.hero h2 {
  color: #38bdf8;
  margin: 10px 0;
}

.btn {
  margin-top: 20px;
  padding: 15px 30px;
  background: #38bdf8;
  color: #0f172a;
  text-decoration: none;
  border-radius: 30px;
  font-weight: bold;
}

section {
  padding: 80px 10%;
}

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 30px;
}

.card {
  background: #020617;
  padding: 20px;
  border-radius: 15px;
  transition: transform 0.3s;
}

.card:hover {
  transform: translateY(-10px);
}

.card img {
  width: 100%;
  border-radius: 10px;
}

.links a {
  margin-right: 20px;
  color: #38bdf8;
  text-decoration: none;
  font-weight: bold;
}